<launch>

	<!--define world-->
	  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="use_sim_time" value="true"/>
	    <arg name="debug" value="false"/>
	    <arg name="world_name" value="$(find turtlebot_gazebo)/worlds/map4.world"/>
	  </include>  

	<!--define args-->
	  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
	  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
	  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
	  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 

	<group ns="robot1">
	  <include file="$(find turtlebot_gazebo)/launch/includes/kobuki_args.launch.xml"><!-- hardcode, was $(arg base).launch.xml -->
	    <arg name="base" value="$(arg base)"/>
	    <arg name="stacks" value="$(arg stacks)"/>
	    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
	    <arg name="x" value="4.5"/>
	    <arg name="y" value="14.5"/>
	  </include> 
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="30.0" />
	    <param name="tf_prefix" type="string" value="robot1"/>
	  </node>

          <!-- Fake laser -->
	  <node pkg="nodelet" type="nodelet" name="robot1_laserscan_nodelet_manager" args="manager"/>
	  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
		args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet robot1_laserscan_nodelet_manager">
	    <param name="scan_height" value="10"/>
	    <param name="output_frame_id" value="/robot1/camera_depth_frame"/>
	    <param name="range_min" value="0.45"/>
	    <remap from="image" to="/robot1/camera/depth/image_raw"/>
	    <remap from="scan" to="/robot1/scan"/>
	   </node>
	</group> 

	<group ns="robot2">
	  <include file="$(find turtlebot_gazebo)/launch/includes/kobuki_args2.launch.xml"><!-- hardcode, was $(arg base).launch.xml -->
	    <arg name="base" value="$(arg base)"/>
	    <arg name="stacks" value="$(arg stacks)"/>
	    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
	    <arg name="x" value="3.5"/>
	    <arg name="y" value="3.5"/>
	  </include>
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="30.0" />
	    <param name="tf_prefix" type="string" value="robot2"/>
	  </node>

          <!-- Fake laser -->
	  <node pkg="nodelet" type="nodelet" name="robot2_laserscan_nodelet_manager" args="manager"/>
	  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
		args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet robot2_laserscan_nodelet_manager">
	    <param name="scan_height" value="10"/>
	    <param name="output_frame_id" value="/robot2/camera_depth_frame"/>
	    <param name="range_min" value="0.45"/>
	    <remap from="image" to="/robot2/camera/depth/image_raw"/>
	    <remap from="scan" to="/robot2/scan"/>
	   </node>
	</group>


</launch>
